body{
margin: 0;
    font-family: roboto;
}
.header{
    display: flex;
    background-color: #1f2937;
    padding: 5px 20px 100px 120px;
    justify-content: space-between;
}
ul{
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}
a{
    text-decoration: none;
    color: white;

}
.logo{
    color: #f9fAf8;
    font-size: 900;
    font-size: 32px;
}
.left, .right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.under-header{
      display: flex;
    background-color: #1f2937;
    padding: 5px 20px 100px 120px;
    justify-content: space-between;
}

.text1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.text2{
font-size: 18px;
color: #e5e7eb;
}
.sign{
    background-color: #3882f6;
    color: #f9fAf8;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #3882f6;
    cursor: pointer;
}
.info-header{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 40px;
    text-align: center;
    padding: 50px;
}
img{
    width: 100px;
    height: 100px;
    }
    .info{
        padding-bottom: 50px ;
    }
    .cont2{
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    .cont3{
        background-color: #e5e7eb;
        padding: 120px;
        
        
    }
    .text3{
        font-size: 36px;
        align-items: center;
        justify-content: center;
        color: #1f2937;
        font-weight:500;
    }
    .by{
        text-align: right;
        font-size: 30px;
        font-weight: bolder;
    }
    .cont4{
        background-color: #f9fAf8;
        margin: 90px;
    }
    .in-cont{
        background-color: #3882f6;
        padding: 30px;
       display: flex;
       justify-content: space-between;
    }
    .sign1{
     background-color: #3882f6;
    color: #f9fAf8;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #f9fAf8;
    cursor: pointer; 
   font-size: 13px;
   height: 50px;
   width: 100px;
    }
    .text-box{
        color: #f9fAf8;
    }
    .big-text{
        font-size: 38px;
        font-weight: 900;
    }
    .small-text{
        
        font-size: 24px;
        font-weight: 400;
    }
    .footer{
        display: flex;
    background-color: #1f2937;
    padding: 30px;
    justify-content: center;
    align-items: center;
    }
    .footer-text{
        color: #f9fAf8;
        font-size: 36px;
        font-weight: 700;
        text-align: center;
    }