body{
margin: 0;
    font-family: roboto;
}
.header{
    display: flex;
    background-color: #1f2937;
    padding: 5px 20px 100px 120px;
    justify-content: space-between;
}
ul{
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 20px;
}
a{
    text-decoration: none;
    color: white;

}
.logo{
    color: #f9fAf8;
    font-size: 900;
    font-size: 32px;
}
.left, .right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.under-header{
      display: flex;
    background-color: #1f2937;
    padding: 5px 20px 100px 120px;
    justify-content: space-between;
}

.text1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.text2{
font-size: 18px;
color: #e5e7eb;
}
.sign{
    background-color: #3882f6;
    color: #f9fAf8;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #3882f6;
    cursor: pointer;
}
.info-header{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 40px;
    text-align: center;
}
img{
    width: 100px;
    height: 100px;
    }
    .cont2{
        display: flex;
        justify-content: center;
        gap: 50px;
    }